.info{
      color: aqua;
      background-color: brown; 
      padding: auto;
  border-radius: 10px;
     padding: 10px;

    }
    
    .specs{
    

        padding: auto;
        border-radius: 10px;
        padding:10px;
        margin-right: 10px;


    }
    